<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Random Meal Generator - #001 of #100Days100Projects</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'>
  <link rel="stylesheet" href="/css/style.css">
</head>
<header>
  <h1>FIND A MEAL</h1>
</header>

<body>
  {{{body}}}
</body>
<footer>
  <h2>Footer</h2>
</footer>

</html>