<div class="container">
  <div class="row text-center">
    <h3>
      Here is your Meal!
    </h3>
    <h5>Get a random meal by clicking below</h5>
    <a href="/meal">Find another meal</a>
  </div>
  <div id="meal" class="row meal"></div>
</div>